*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  width: 100%;
  min-height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  background-color: #ffffff;
  border: 2px solid black;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
  margin: 1rem;
}

#app {
  text-align: center;
}


